HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/

### avoid update pom.xml
### rewrite __VARS__ locally before run
### Those __VARS__ are in GitHub repo secrets
pom.xml
